body{
    margin: 0;
    padding: 0;
    background: #0a042c;
}

.msg{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    color: white;
    text-align: Center;
}

.bday{
    margin-top: 80px;
    text-align: center;
    background: linear-gradient(180deg, #f80112 0%, #2205f8 110%);
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;
cursor: pointer;
font-size: 150px;
font-family: bday;
}

.bday:hover{
    -webkit-box-reflect: below -8px -webkit-gradient(linear, right top, right bottom, from(transparent), 
    color-stop(85%, transparent), to(rgba(42, 99, 99, 1)))
}


.name{
    padding-right: 100px;
    margin-left: 200px;
    margin-top: 100px;
    text-align: center;
    background: linear-gradient(180deg, #f80112 0%, #2205f8 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 200px;
    font-family: bday;
    display: inline-block;
}

.name:hover{
    -webkit-box-reflect: below -8px -webkit-gradient(linear, right top, right bottom, from(transparent), 
    color-stop(85%, transparent), to(rgba(42, 99, 99, 1)))
}

.slider{
    margin-left: 400px;
    width: 800px;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 100px;
    margin-top: 100px;
}

.slides{
    width: 500%;
    height: 800px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 1000px;
}

.navigation-manual{
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: 2px solid #0a042c;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background: #0a042c;
}

#radio1:checked ~ .first{
    margin-left: 0; 
}

#radio2:checked ~ .first{
    margin-left: -20%; 
}

#radio3:checked ~ .first{
    margin-left: -40%; 
}

#radio4:checked ~ .first{
    margin-left: -60%; 
}

#radio5:checked ~ .first{
    margin-left: -80%; 
}

#radio6:checked ~ .first{
    margin-left: -100%; 
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: -60px;
}

.navigation-auto div{
    border: 2px solid #0a042c;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #0a042c; 
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #0a042c; 
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #0a042c; 
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #0a042c; 
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #0a042c; 
}

#radio6:checked ~ .navigation-auto .auto-btn1{
    background: #0a042c; 
}

@font-face{
    font-family: bday;
    src: url(bday.ttf);
}

.h4{
    color: white;
}